#Barrainicial{
    border:3px solid #0B090C; 
    width: 1362px; 
    height: 100px;
    background-color: #0B090C;
    margin-left: -10px;
    margin-top: -10px;
}
.image{
    width: 50px;
    height: 50px;
}
body{
    font-family:'Roboto',sans-serif;
    color: #09B209;
    background-color: #313233;
}
.CanRun{
    margin-left: 10px;
}
.Home{
    border:3px solid #292929; 
    width: 100px; 
    height: 40px;
    background-color: #292929;
    border-radius: 10px;
    margin-left: 670px;
    margin-top: -65px;
}
.textohome{
    margin-left: 18px;
    margin-top: 10px
   }
.Sobre{
    border:3px solid #292929; 
    width: 100px; 
    height: 40px;
    background-color: #292929;
    border-radius: 10px;
    margin-left: 790px;
    margin-top: -46px;
}
.textosobre{
    margin-left: 18px;
    margin-top: 10px
   }
.Suporte{
    border:3px solid #424040; 
    width: 100px; 
    height: 40px;
    background-color: #424040;
    border-radius: 10px;
    margin-left: 910px;
    margin-top: -46px;
}
.textosuporte{
    margin-left: 18px;
    margin-top: 10px
   }
.Download{
    border:3px solid #292929; 
    width: 120px; 
    height: 40px;
    background-color: #292929;
    border-radius: 10px;
    margin-left: 1030px;
    margin-top: -46px;
}
.textodownload{
    margin-left: 18px;
    margin-top: 10px
   }
.Login{
    border:3px solid #292929; 
    width: 100px; 
    height: 40px;
    background-color: #292929;
    border-radius: 10px;
    margin-left: 1170px;
    margin-top: -46px;
}
.textologin{
    margin-left: 18px;
    margin-top: 10px
   }
.barrinhaverde{
    border:3px solid #09B209; 
    width: 1369px; 
    height: 1px;
    background-color: #09B209;
    margin-left: -10px;
    margin-top: 8px;
}
.container {
    width: 50%;
    margin: 0 auto;
}
.form-contact {
    width: 100%;
}
  h2 {
  text-align: center 
}
.form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}
.form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
}
.form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #1d1e22;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
}
  .form-contact-button:hover {
    opacity: 1;
}
.a{
    text-decoration: none;
    color: #09B209;
    width: 100px;
    height: 40px;
}